# Student Academic Data Analysis

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("Student Attitude and Behavior.csv")
df.head()

,Certification Course,Gender,Department,Height(CM),Weight(KG),10th Mark,12th Mark,college mark,hobbies,daily studing time,prefer to study in,salary expectation,Do you like your degree?,willingness to pursue a career based on their degree,social medai & video,Travelling Time,Stress Level,Financial Status,part-time job
0,No,Male,BCA,100.0,58.0,79.0,64.0,80.0,Video Games,0 - 30 minute,Morning,40000,No,50%,1.30 - 2 hour,30 - 60 minutes,Bad,Bad,No
1,No,Female,BCA,90.0,40.0,70.0,80.0,70.0,Cinema,30 - 60 minute,Morning,15000,Yes,75%,1 - 1.30 hour,0 - 30 minutes,Bad,Bad,No
2,Yes,Male,BCA,159.0,78.0,71.0,61.0,55.0,Cinema,1 - 2 Hour,Anytime,13000,Yes,50%,More than 2 hour,30 - 60 minutes,Awful,Bad,No
3,Yes,Female,BCA,147.0,20.0,70.0,59.0,58.0,Reading books,1 - 2 Hour,Anytime,1500000,No,50%,1.30 - 2 hour,0 - 30 minutes,Bad,good,No
4,No,Male,BCA,170.0,54.0,40.0,65.0,30.0,Video Games,30 - 60 minute,Morning,50000,Yes,25%,1.30 - 2 hour,30 - 60 minutes,Good,good,No

In [6]:
df.shape

(235, 19)

In [9]:
df.columns

Index(['Certification Course', 'Gender', 'Department', 'Height(CM)',
       'Weight(KG)', '10th Mark', '12th Mark', 'college mark', 'hobbies',
       'daily studing time', 'prefer to study in', 'salary expectation',
       'Do you like your degree?',
       'willingness to pursue a career based on their degree  ',
       'social medai & video', 'Travelling Time ', 'Stress Level ',
       'Financial Status', 'part-time job'],
      dtype='object')

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 21 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Certification Course                                    235 non-null    object
 1   Gender                                                  235 non-null    object
 2   Department                                              235 non-null    object
 3   Height(CM)                                              235 non-null    float64
 4   Weight(KG)                                              235 non-null    float64
 5   10th Mark                                               235 non-null    float64
 6   12th Mark                                               235 non-null    float64
 7   college mark                                            235 non-null    float64
 8   hobbies                                                 235 non-null    object
 9   daily studing time                                      235 non-null    object
 10  prefer to study in                                      235 non-null    object
 11  salary expectation                                      235 non-null    int64
 12  Do you like your degree?                                235 non-null    object
 13  willingness to pursue a career based on their degree    235 non-null    object
 14  social medai & video                                    235 non-null    object
 15  Travelling Time                                         235 non-null    object
 16  Stress Level                                            235 non-null    object
 17  Financial Status                                        235 non-null    object
 18  part-time job                                           235 non-null    object
 19  Average Marks                                           235 non-null    float64
 20  Result                                                  235 non-null    object
dtypes: float64(6), int64(1), object(14)
memory usage: 38.7+ KB

In [11]:
df.describe()

,Height(CM),Weight(KG),10th Mark,12th Mark,college mark,salary expectation
count,235.000000,235.000000,235.000000,235.000000,235.000000,2.350000e+02
mean,157.402128,60.803830,76.848511,68.775872,70.660553,3.248168e+04
std,21.510805,14.895844,13.047560,11.018192,15.727446,1.113146e+05
min,4.500000,20.000000,7.400000,45.000000,1.000000,0.000000e+00
25%,152.000000,50.000000,70.000000,60.000000,60.000000,1.500000e+04
50%,160.000000,60.000000,80.000000,69.000000,70.000000,2.000000e+04
75%,170.000000,70.000000,86.250000,76.000000,80.000000,2.500000e+04
max,192.000000,106.000000,98.000000,94.000000,100.000000,1.500000e+06

In [ ]:
# Data Cleaning

In [13]:
df.isnull().sum().reset_index()

                                                index  0
0                                Certification Course  0
1                                              Gender  0
2                                          Department  0
3                                          Height(CM)  0
4                                          Weight(KG)  0
5                                           10th Mark  0
6                                           12th Mark  0
7                                        college mark  0
8                                             hobbies  0
9                                  daily studing time  0
10                                 prefer to study in  0
11                                 salary expectation  0
12                           Do you like your degree?  0
13  willingness to pursue a career based on their ...  0
14                               social medai & video  0
15                                   Travelling Time   0
16                                      Stress Level   0
17                                   Financial Status  0
18                                      part-time job  0

In [16]:
df.fillna(df.mean(numeric_only=True),inplace=True)

In [18]:
marks_df=df[["10th Mark","12th Mark","college mark"]]
marks_df.head()

   10th Mark  12th Mark  college mark
0       79.0       64.0          80.0
1       70.0       80.0          70.0
2       71.0       61.0          55.0
3       70.0       59.0          58.0
4       40.0       65.0          30.0

In [26]:
df["Average Marks"]=marks_df.mean(axis=1)
df[["Average Marks"]].head()

   Average Marks
0      74.333333
1      73.333333
2      62.333333
3      62.333333
4      45.000000

In [28]:
high_perform=df[df["college mark"]>70]
high_perform.head()

,Certification Course,Gender,Department,Height(CM),Weight(KG),10th Mark,12th Mark,college mark,hobbies,daily studing time,prefer to study in,salary expectation,Do you like your degree?,willingness to pursue a career based on their degree,social medai & video,Travelling Time,Stress Level,Financial Status,part-time job,Average Marks
0,No,Male,BCA,100.0,58.0,79.0,64.00,80.0,Video Games,0 - 30 minute,Morning,40000,No,50%,1.30 - 2 hour,30 - 60 minutes,Bad,Bad,No,74.333333
7,No,Male,BCA,152.0,43.0,61.6,61.67,75.0,Sports,1 - 2 Hour,Morning,25000,Yes,50%,1 - 1.30 hour,1 - 1.30 hour,Good,good,No,66.090000
12,Yes,Female,BCA,158.0,64.0,59.0,54.00,80.0,Reading books,30 - 60 minute,Morning,18000,Yes,75%,1 - 30 Minute,30 - 60 minutes,Bad,good,No,64.333333
16,Yes,Male,BCA,153.0,52.0,83.0,76.00,75.0,Sports,1 - 2 Hour,Anytime,15000,Yes,75%,1.30 - 2 hour,30 - 60 minutes,Good,good,Yes,78.000000
19,Yes,Female,BCA,109.0,42.0,60.0,70.00,88.0,Cinema,30 - 60 minute,Anytime,20000,Yes,100%,1 - 30 Minute,30 - 60 minutes,Good,good,No,72.666667

In [30]:
sorted_data=df.sort_values(by="college mark",ascending=False)
sorted_data.head()

,Certification Course,Gender,Department,Height(CM),Weight(KG),10th Mark,12th Mark,college mark,hobbies,daily studing time,prefer to study in,salary expectation,Do you like your degree?,willingness to pursue a career based on their degree,social medai & video,Travelling Time,Stress Level,Financial Status,part-time job,Average Marks
214,Yes,Female,Commerce,151.0,55.0,93.8,83.5,100.0,Reading books,1 - 2 Hour,Morning,15000,Yes,75%,1 - 1.30 hour,30 - 60 minutes,Good,good,Yes,92.433333
224,Yes,Female,Commerce,152.0,65.0,97.0,80.0,100.0,Reading books,3 - 4 hour,Morning,15000,Yes,100%,30 - 60 Minute,0 - 30 minutes,Good,good,Yes,92.333333
159,Yes,Male,Commerce,165.0,75.0,65.0,75.0,97.0,Cinema,0 - 30 minute,Anytime,15000,Yes,50%,1 - 1.30 hour,0 - 30 minutes,fabulous,good,Yes,79.000000
225,Yes,Female,Commerce,164.0,43.0,80.0,89.0,95.0,Reading books,2 - 3 hour,Morning,15000,Yes,100%,1 - 30 Minute,0 - 30 minutes,Good,good,No,88.000000
59,Yes,Male,B.com Accounting and Finance,152.0,50.0,90.0,80.0,95.0,Sports,3 - 4 hour,Anytime,50000,Yes,75%,1 - 1.30 hour,30 - 60 minutes,Bad,Bad,Yes,88.333333

In [34]:
gender_avg=df.groupby("Gender")["college mark"].mean()
gender_avg.head().reset_index()

   Gender  college mark
0  Female     76.870886
1    Male     67.515577

In [41]:
correlation = df[["10th Mark", "12th Mark", "college mark"]].corr()
correlation.reset_index()

          index  10th Mark  12th Mark  college mark
0     10th Mark   1.000000   0.473254      0.465861
1     12th Mark   0.473254   1.000000      0.424828
2  college mark   0.465861   0.424828      1.000000

In [45]:
def result_fun(x):
    if x >= 40:
        return "Pass"
    else:
        return "Fail"

df["Result"]=df["college mark"].map(result_fun)
df[["college mark","Result"]].head()

   college mark Result
0          80.0   Pass
1          70.0   Pass
2          55.0   Pass
3          58.0   Pass
4          30.0   Fail